<div>
  <nav id="desktop-nav">
    <div class="logo">Ajit Satpute</div>
    <div>
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li>
          <img id="modeToggle"
          class="icon color-icon"
          src="../../assets/images/theme_light.png"
          src-light="../../assets/images/theme_light.png"
          src-dark="../../assets/images/theme_dark.png" alt="Color theme icon"></li>
      </ul>
    </div>
  </nav>
  
  <nav id="hamburger-nav">
    <div class="logo">Ajit Satpute</div>
    <div class="hamburger-menu">
      <div class="hamburger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu-links">
        <li><a href="#about" onclick="toggleMenu()">About</a></li>
        <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
        <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
        <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        <li>
          <img id="modetoggle2"
          class="icon color-icon"
          src="../../assets/images/theme_light.png"
          src-light="../../assets/images/theme_light.png"
          src-dark="../../assets/images/theme_dark.png" alt="Color theme icon"></li>
      </div>
    </div>
  </nav>
  <app-home></app-home>
  <footer>
    <p>Copyright &#169; 2024. All Rights Reserved.</p>
  </footer>
</div>