
  <section id="profile">
    <div class="section__pic-container">
      <img
        src="../../assets/images/profile-pic.jpg"
        alt="mukund Khapale profile picture" />
    </div>
    <div class="section__text">
      <p class="section__text__p1">Hello, I'm</p>
      <h1 class="title">Ajit Satpute</h1>
      <p class="section__text__p2">Frontend Devolper</p>
      <div class="btn-container">
        <button
          class="btn btn-color-2"
          onclick="window.open('../../assets/images/resume-example.pdf')">
          Download CV
        </button>
        <button class="btn btn-color-1" onclick="location.href='./#contact'">
          Contact Info
        </button>
      </div>
      <div id="social-container">
      <a href="https://www.linkedin.com/in/ajitsatpute/" target="_blank">
        <img
        src="../../assets/images/linkedin_light.png"
        src-light="../../assets/images/linkedin_light.png"
        src-dark="../../assets/images/linkedin_dark.png"
        alt="my linkedin profile"
        class="icon linkedin-icon?"/>
      </a>
      <a href="https://github.com/AjitBalasahebSatpute" target="_blank">
        <img
        src="../../assets/images/github_light.png"
        src-light="../../assets/images/github_light.png"
        src-dark="../../assets/images/github_dark.png"
        alt="my github profile"
        class="icon github-icon" />
      </a>
      </div>
    </div>

  </section>
  <section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title" style="margin-bottom: 2rem;">About Me</h1>
    <div class="section-container">
      <div class="section__pic-container">
        <img
          src="../../assets/images/about-pic.png"
          alt="profile picture"
          class="about-pic" />
      </div>
      <div class="about-details-container">
        <div class="about-containers">
          <div class="details-container">
            <img
              src="../../assets/images/experience_light.png"
              src-light="../../assets/images/experience_light.png"
              src-dark="../../assets/images/experience_dark.png"
              alt="Experience icon"
              class="icon" />
            <h3>Experience</h3>
            <p>2+ Years <br />Frontend Development</p>
            <p>Wipro Pvt Ltd</p>
          </div>
          <div class="details-container">
            <img
              src="../../assets/images/education_light.png"
              src-light="../../assets/images/education_light.png"
              src-dark="../../assets/images/education_dark.png"
              alt="Education icon"
              class="icon" />
            <h3>Education</h3>
            <p>
              Mechanical Engineering <br />Bachlors of Technology
            </p>
             <p>
             Vishwakarma Istitute of Technology Pune (VIT)
            </p>
          </div>
        </div>
        <div class="text-container">
          <p>
            "I am a passionate and honest individual who thrives on continuous learning and self-improvement. As a quick learner, I embrace new challenges with enthusiasm and am always eager to expand my knowledge and skills. My cooperative nature allows me to work effectively in team environments, where I enjoy collaborating with others to achieve common goals.       
          </p>
          <p>
            Integrity and responsibility are cornerstones of my character. I believe in being honest and transparent in all my interactions, and I take pride in delivering my best work with a high level of dedication and responsibility. Whether working independently or as part of a team, I approach every task with a positive attitude and a commitment to excellence."
          </p>
        </div>
      </div>
    </div>
    <img
      src="../../assets/images/arrow_light.png"
      src-light="../../assets/images/arrow_light.png"
      src-dark="../../assets/images/arrow_dark.png"
      alt="Arrow"
      class="icon arrow"
      onclick="location.href='./#experience'" />
  </section>
  <section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="experience-sub-title">Frontend Development</h2>
          <div class="article-container">
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>HTML</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>CSS</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>SASS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>JavaScript</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>TypeScript</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>Material UI</h3>
                <p>Intermediate</p>
              </div>
            </article>
          </div>
        </div>
        <div class="details-container">
          <h2 class="experience-sub-title">Backend Development</h2>
          <div class="article-container">
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>PostgreSQL</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>Node JS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>Express JS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img
                src="../../assets/images/checkmark_light.png"
                src-light="../../assets/images/checkmark_light.png"
                src-dark="../../assets/images/checkmark_dark.png"
                alt="Experience icon"
                class="icon" />
              <div>
                <h3>Git</h3>
                <p>Intermediate</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <img
      src="../../assets/images/arrow_light.png"
      src-light="../../assets/images/arrow_light.png"
      src-dark="../../assets/images/arrow_dark.png"
      alt="Arrow"
      class="icon arrow"
      onclick="location.href='./#projects'" />
  </section>
  <section id="projects">
    <p class="section__text__p1">Explore My Recents</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container color-container">
          <div class="article-container">
            <img
              src="../../assets/images/Projects/Creatics-project.PNG"
              alt="Project 1"
              class="project-img" />
          </div>
          <h2 class="experience-sub-title project-title">Creatics</h2>
          <div class="btn-container">
            <!-- <button
              class="btn btn-color-2 project-btn"
              onclick="location.href='https://github.com/'">
              Github
            </button> -->
        <a href="https://creatics.org/" target="_blank">
          <button
          class="btn btn-color-2 project-btn">
          Live Demo
        </button>
        </a>
          </div>
        </div>
      </div>
    </div>
    <img
      src="../../assets/images/arrow_light.png"
      src-light="../../assets/images/arrow_light.png"
      src-dark="../../assets/images/arrow_dark.png"
      alt="Arrow"
      class="icon arrow"
      onclick="location.href='./#contact'" />
  </section>
  <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container" id="phone_number">
          <img 
          src="../../assets/images/phone.png" 
          alt="phone icon" class="icon contact-icon email-icon">
          <p><a href="tel:9822088599">Contact Me</a></p>
      </div>
        
          <div class="contact-info-container">
              <img 
              src="../../assets/images/email_light.png"
              alt="Email icon" class="icon contact-icon email-icon">
              <p><a href="mailto:mr.ajitsatpute@gmail.com">Email Me <br> mr.ajitsatpute&#64;gmail.com </a></p>
          </div>
          <div class="contact-info-container">
              <img src="../../assets/images/linkedin_light.png"
              alt="LinkedIn icon" class="icon contact-icon">
              <p><a href="https://www.linkedin.com/in/ajitsatpute/" target="_blank">LinkedIn</a></p>
          </div>
         
      </div>
  </section>
